{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div id="body">
<div class="container-fluid vCenter">
    <form method="post" class="p-3" novalidate>
        {% if exito %}
            <div class="alert alert-success">
                Te has registrado con exito, prueba a iniciar sesión
            </div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Inicia sesión en MonBarter</h1>
        <div class="form-row">
            <div class="col-12 mb-3">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Introduce tu email" required autofocus>
            </div>
            <div class="col-12 mb-3">
                <label for="inputPassword">Contraseña</label>
                <input type="password" name="password" placeholder="Introduce tu contraseña" id="inputPassword" class="form-control" required>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')}}">

        {% if error %}
            <div class="alert alert-danger">
            {#
                {{ error.messageKey|trans(error.messageData, 'security') }}
            #}
                Sucedio algún error, comprueba los datos
            </div>
        {% endif %}

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        
        <div class="row">
            <div class="col-6">
                <button class="btn" type="submit">Iniciar</button>
            </div>
            <div class="col-6">
                <a class="btn" href="{{ path('register')}}">Registrarse</a>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}