{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/listaChats.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="body">
    <div class="container">
        <div class="row d-flex">
            {% if chats is empty %}
                <div class="col-12 mt-3 info">
                    <h3>NO TIENES NINGÚN CHAT ACTIVO</h3>
                    <p>Si quieres abrir un chat tienes que usar el boton "Me Interesa" de una publicación</p>
                </div>
            {% else %}
                {% for chat in chats %}
                    {% set break = false %}
                    {% if chat.usuario1.id == app.user.id %}
                        {% for noti in notificar %}
                            {% if noti.id == chat.id %}
                                <div class="col-lg col-6 mt-3">
                                    <a class="btn btn-lg btn-block notificacion" href="{{ path('chat', {id: chat.usuario2.id ~ "_0"})}}">
                                        {{chat.usuario2.nickName ~ " / " ~ chat.usuario2.email}}
                                    </a>
                                </div>
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                        {% if not break %}
                        <div class="col-lg col-6 mt-3">
                            <a class="btn btn-lg btn-block" href="{{ path('chat', {id: chat.usuario2.id ~ "_0"})}}">
                                {{chat.usuario2.nickName ~ " / " ~ chat.usuario2.email}}
                            </a>
                        </div>
                        {% endif %}
                    {% elseif chat.usuario2.id == app.user.id %}
                        {% for noti in notificar %}
                            {% if noti.id == chat.id %}
                                <div class="col-lg col-6 mt-3">
                                    <a class="btn btn-lg btn-block notificacion" href="{{ path('chat', {id: chat.usuario1.id ~ "_0"})}}">
                                        {{chat.usuario1.nickName ~ " / " ~ chat.usuario1.email}}
                                    </a>
                                </div>
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                        {% if not break %}
                        <div class="col-lg col-6 mt-3">
                            <a class="btn btn-lg btn-block" href="{{ path('chat', {id: chat.usuario1.id ~ "_0"})}}">
                                {{chat.usuario1.nickName ~ " / " ~ chat.usuario1.email}}
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

