{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}Registrate{% endblock %}

{% block body %}
    <div id="body">
        <div class="container-fluid vCenter">
            <form class="p-3" id="formRegistro" action="{{ path('verificar') }}" method="post" novalidate>
                <h1 class="h3 mb-3 font-weight-normal">Registrate en MonBarter</h1>
                <div class="form-row">
                    <div class="col-12 mb-3">
                        <label for="nombre">Nombre de usuario <span>*</span></label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de Usuario"
                            required>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="email">Cuenta de Email <span>*</span></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Cuenta de Email" required>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="contrasena">Contraseña <span>*</span></label>
                        <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña"
                            required>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="confContrasena">Confirmación de la Contraseña <span>*</span></label>
                        <input type="password" class="form-control" id="confContrasena" name="confContrasena" value=""
                            placeholder="Confirmar contraseña" required>
                    </div>
                    <div class="col-12 mb-3">
                    <label for="provincias">Escoge una provincia</label>
                        <select class="form-control" name="provincias" id="provincias">
                            <option value="0" selected>Sin especificar</option>
                            {% for provincia in provincias %}
                                <option value="{{ provincia.id }}"> {{ provincia.provincia }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="condiciones"> Aceptar condiciones de uso
                            </label>
                        </div>
                    </div>
                </div>
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-6">
                        <button class="btn" type="submit">Crear cuenta</button>
                    </div>
                    <div class="col-6">
                        <a class="btn" href="{{ path('app_login')}}">Iniciar sesión</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}