{# templates/chat/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
<div id="body">
    <div class="container">
        <div id="mercure-content-receiver">
        {% if mensajes %}
            {% for mensaje in mensajes %}
              {% if mensaje.usuario.id != app.user.id %}
                  {% if mensaje.publicacion is null %}
                    <div class="message" align="right"> {{ mensaje.usuario.nickName }}: 
                    {{ mensaje.mensajes }} {{ mensaje.timeEnvio | date("H:i")}} | BD </div>
                  {% else %}
                    <div class="message" align="right">{{ mensaje.usuario.nickName }}: Me interesa su publicacion - 
                    <a href="{{ path("publicacion", {id:mensaje.publicacion.id}) }}">{{ mensaje.publicacion.titulo }}</a> 
                    {{ mensaje.timeEnvio | date("H:i")}} | BD </div>
                  {% endif %}
              {% else %}
                  {% if mensaje.publicacion is null %}
                    <div class="message"> {{ mensaje.usuario.nickName }}: 
                    {{ mensaje.mensajes }} {{ mensaje.timeEnvio | date("H:i")}} | BD </div>
                  {% else %}
                    <div class="message">{{ mensaje.usuario.nickName }}: Me interesa su publicacion - 
                    <a href="{{ path("publicacion", {id:mensaje.publicacion.id}) }}">{{ mensaje.publicacion.titulo }}</a> 
                    {{ mensaje.timeEnvio | date("H:i")}} | BD </div>
                  {% endif %}
              {% endif %}
            {% endfor %}
        {% endif %}
        </div>
        <form id="mercure-message-form" action="{{ path('sendMessage') }}" method="post">
            <label for="mercure-message-input">Mensaje:</label>
            <input type="text" id="mercure-message-input" name="message"/>
            <input type="text" id="usu1" name="usuario1id" value="{{ app.user.id }}" hidden/>
            <input type="text" id="usu2" name="usuario2id" value="{{ id }}" hidden/>
            <input type="submit" id="mercure-message-btn" value="Send"/>
            {% set i = 0 %}
            {% for dato in publi %}
              {% set i = i + 1 %}
              <input type="text" id="{{"publi" ~ i}}" name="{{"publi" ~ i}}" value="{{ dato }}" hidden/>
            {% endfor %}
            <input type="text" id="numPubli" value="{{ i }}" hidden/>
        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript">

    document.getElementById("mercure-message-input").focus();
    window.scrollTo(0,document.body.scrollHeight);
    document.getElementById("controlChat").value = document.getElementById("usu2").value;

    

    function ordenarId(){
      var id1 = document.getElementById("usu1").value;
      var id2 = document.getElementById("usu2").value;

      if(Number(id1) > Number(id2)){
        return id2 + "" + id1;
      } else {
        return id1 + "" + id2;
      }
    }

    const _receiver = document.getElementById('mercure-content-receiver');
    const _messageInput = document.getElementById('mercure-message-input');
    const _sendForm = document.getElementById('mercure-message-form');

    const sendMessage = (message) => {
      if (message.trim() === '') {
        return;
      }

      var time = new Date();
      var s;

      if(time.getMinutes() < 10){
        s = "0" + time.getMinutes();
      } else {
        s = time.getMinutes();
      }

      if(document.getElementById("numPubli").value != 0){
        var idPubli = document.getElementById("publi1").value;
      } else {
        var idPubli = 0;
      }

      fetch(_sendForm.action, {
        method: _sendForm.method,
        body: 'message=' + message + '&usuario2id=' + document.getElementById("usu2").value + '&time='+time.getHours()+":"+s + '&numPubli='+document.getElementById("numPubli").value + "&idPubli="+idPubli, 
        headers: new Headers({
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
        })
      }).then(() => {
        _messageInput.value = '';
      });
    };

    _sendForm.onsubmit = (evt) => {
      sendMessage(_messageInput.value);

      evt.preventDefault();
      return false;
    };

    if(document.getElementById("numPubli").value != 0){
      var idPubli = document.getElementById("publi1").value;
      var tituloPubli = document.getElementById("publi2").value;
      var mensajePubli = `Me interesa su publicacion - <a href="/publicacion/`+ idPubli +`">`+ tituloPubli +`</a>`;
      sendMessage(mensajePubli);
      document.getElementById("numPubli").value = 0;
    }

    const urlGenerico = new URL('{{ mercure_publish_url }}');
    urlGenerico.searchParams.append('topic', 'http://chat.monbarter/' + ordenarId());
    const eventSource = new EventSource(urlGenerico, { withCredentials: true });
    eventSource.onmessage = (evt) => {
      const data = JSON.parse(evt.data);
      if (!data.message || !data.user) {
        return;
      }

      if(data.id != document.getElementById("usu1").value){
        _receiver.insertAdjacentHTML('beforeend', `
        <div class="message" align="right">${data.user}: ${data.message} ${data.time} | Mercure</div>`);
      } else {
        _receiver.insertAdjacentHTML('beforeend', `
        <div class="message">${data.user}: ${data.message} ${data.time} | Mercure</div>`);
      }

      document.getElementById("mercure-message-input").focus();
      window.scrollTo(0,document.body.scrollHeight);
    };
  </script>
{% endblock %}
