{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/publicaciones.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="body">
    <div class="container">
        <form id="formPerfil" class="mb-4" action="{{ path('modifPublicacionRes') }}" method="post" enctype="multipart/form-data">
            <div class="form-row mt-5 p-4 mx-auto">
            <input type="hidden" id="idPubli" name="idPubli" value="{{publicacion.id}}">
                <div class="col-12 mb-3 text-center">
                    <h3>Creando una publicación<h3>
                </div>
                <div class="col-12 col-lg-6 mb-3 text-center">
                    <label for="titulo">Titulo de la publicación <span class="red">*</span></label>
                    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="{{ publicacion.titulo }}">
                </div>
                <div class="col-12 col-lg-6 mb-3 text-center">
                <label for="tipo">Escoge el tipo de publicación</label>
                    <select class="form-control" name="tipo" id="tipo">
                        {% if publicacion.tipo == "Producto" %}
                            <option value="Producto" selected>Producto</option>
                            <option value="Servicio">Servicio</option>
                        {% else %}
                            <option value="Producto">Producto</option>
                            <option value="Servicio" selected>Servicio</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-12 mb-3 text-center">
                    <label for="descripcion">Descripción (<span id="maxCaract">255</span>)</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" placeholder="255 caracteres">{{ publicacion.descripcion }}</textarea>
                </div>
                <div class="col-12 mb-3 text-center">
                    <label for="etiquetas">Añade etiquetas <span class="red">*</span></label>
                    <input type="text" class="form-control" id="etiquetas" name="etiquetas" value="" placeholder="Etiqueta">
                    <button id="addEtiqueta" class="btn btn-block" type="button">Añadir etiqueta</button>
                    <p id="verEtiquetas">
                    {% set id = 0 %}
                    {% set eti = "" %}
                    {% for etiqueta in publicacion.etiqueta %}
                        <span class="etiqueta" id="{{ id }}">{{etiqueta.etiqueta}}</span>
                        {% set id = id + 1 %}
                        {% set eti = eti ~ etiqueta.etiqueta  %}
                        {% if id < publicacion.etiqueta|length %}
                            {% set eti = eti ~ "/" %}
                        {% endif %}
                    {% endfor %}
                    <p>
                    <input type="hidden" id="allEtiquetas" name="allEtiquetas" value="{{eti}}">
                </div>
                <div class="col-12">
                    <p class="text-center">
                        Selecciona la imagen que quieres eliminar
                    </p>
                </div>
                {% set idImg = 0 %}
                {% for imagen in publicacion.imagenes %}
                    <div class="col-6 col-lg-4 divImgExist text-center">
                        <img class="imgExist" src="{{ asset(imagen) }}" alt="img publi">
                        <label>
                            <input type="checkbox" name="{{ "delete" ~ idImg }}" id="{{ "delete" ~ idImg }}">
                        </label>
                        {% set idImg = idImg + 1 %}
                    </div>
                {% endfor %}
                <div class="col-12" id="divImg">
                    <hr>
                </div>
                <button id="addImagen" class="btn btn-block" type="button">Añadir imagen</button>
                <input type="hidden" id="numImg" name="numImg" value="">
                {% if error %}
                    <div class="col-12">
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    </div>
                {% endif %}
                <div class="col-12">
                <hr>
                    <button class="btn btn-block" type="submit">Modificar publicación</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset("js/modifPubli.js") }}" type="text/javascript">
    </script>
{% endblock %}