{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/ajustes.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="body">
    <div class="container">
        <div class="accordion mt-3" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Datos personales
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <form id="formPerfil" action="{{ path('modificarPerfil') }}" method="post" enctype="multipart/form-data">
                        <div class="form-row py-3 mx-auto">
                            <div class="col-12 mb-3 text-center">
                                <label for="contrasenaActual">Confirma tu cuenta con tu contraseña actual<span class="red">*</span></label>
                                <input type="password" class="form-control" id="contrasenaActual" name="contrasenaActual" placeholder="Contraseña actual"
                                    required>
                                <hr>
                            </div>
                            <div class="col-12 col-lg-6 mb-3 text-center">
                                <label for="nombre">Nombre de usuario</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de Usuario" value="{{app.user.nickName}}">
                            </div>
                            <div class="col-12 col-lg-6 mb-3 text-center">
                                <label for="provincias">Escoge una provincia</label>
                                <select class="form-control" name="provincias" id="provincias">
                                    {% if app.user.provincia is null %}
                                        <option value="0" selected>Sin especificar</option>
                                        {% for provincia in provincias %}
                                            <option value="{{ provincia.id }}"> {{ provincia.provincia }} </option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">Sin especificar</option>
                                        {% for provincia in provincias %}
                                            {% if app.user.provincia.id == provincia.id %}
                                                <option value="{{ provincia.id }}" selected> {{ provincia.provincia }} </option>
                                            {% else %}
                                                <option value="{{ provincia.id }}"> {{ provincia.provincia }} </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-12 col-lg-6 mb-3 text-center">
                                <label for="contrasena">Contraseña</label>
                                <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña">
                            </div>
                            <div class="col-12 col-lg-6 mb-3 text-center">
                                <label for="confContrasena">Confirmación de la Contraseña</label>
                                <input type="password" class="form-control" id="confContrasena" name="confContrasena" value=""
                                    placeholder="Confirmar contraseña">
                            </div>
                            <div class="col-12 my-3 custom-file">
                                <input type="file" class="custom-file-input" id="imgPerfil" name="imgPerfil" accept="image/png, image/jpeg, image/jpg">
                                <label id="labelImg" class="custom-file-label" for="imgPerfil">Escoge tu foto de perfil</label>
                            </div>
                            {% if error %}
                                <div class="col-12">
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <button class="btn btn-block" type="submit">Modificar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-secondary btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Filtros
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <form id="formFiltros" action="{{ path('filtros') }}" method="post">
                        <div class="form-row py-3 mx-auto">
                            <div class="col-12 mb-3 text-center">
                                <div class="col-12 mb-3">
                                    <label for="filtros">Filtro a eliminar</label>
                                    <select class="form-control" name="idFiltro" id="idFiltro">
                                        {% if idFiltro < 0 %}
                                            <option value="-1" selected>Filtro no seleccionado</option>
                                        {% endif %}
                                        {% set i = 0 %}
                                        {% for filtro in filtros %}
                                            {% if idFiltro == i %}
                                                <option value="{{ i }}" selected> {{ filtro.titulo }}</option>
                                            {% else %}
                                                <option value="{{ i }}"> {{ filtro.titulo }}</option>
                                            {% endif %}
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <hr>
                            </div>
                            
                            <div class="col-12 col-lg-6 mb-3 text-center">
                                <label for="titulo">Titulo </label>
                                {% if idFiltro < 0 %}
                                    <input type="text" class="form-control" id="tituloFiltro" name="titulo" placeholder="titulo del filtro">
                                {% else %}
                                    <input type="text" class="form-control" id="tituloFiltro" name="titulo" placeholder="titulo del filtro" value="{{ filtros[idFiltro].titulo }}">
                                {% endif %}
                            </div>
                            <div class="col-12 col-lg-6 mb-3 text-center">
                                <label for="etiqueta">Etiqueta </label>
                                {% if idFiltro < 0 or filtros[idFiltro].etiqueta is null %}
                                    <input type="text" class="form-control" id="etiqueta" name="etiqueta" placeholder="etiqueta por la que quieres filtrar">
                                {% else %}
                                    <input type="text" class="form-control" id="etiqueta" name="etiqueta" placeholder="etiqueta por la que quieres filtrar" value="{{ filtros[idFiltro].etiqueta.etiqueta }}">
                                {% endif %}
                            </div>
                            <div class="col-12 col-lg-6  mb-3 text-center">
                                <label for="orden">Orden </label>
                                <select class="form-control" name="orden" id="orden">
                                    {% if idFiltro < 0 or filtros[idFiltro].ordenFecha == "ASC" %}
                                        <option value="ASC" selected>Ascendente</option>
                                        <option value="DESC">Descendente</option>
                                    {% else %}
                                        <option value="ASC">Ascendente</option>
                                        <option value="DESC" selected>Descendente</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-12 col-lg-6 mb-3 text-center">
                                <label for="tipo">Tipo </label>
                                <select class="form-control" name="tipo" id="tipo">
                                    {% if idFiltro < 0 or filtros[idFiltro].tipo is null %}
                                    <option value="0" selected>Sin especificar</option>
                                    <option value="Producto">Producto</option>
                                    <option value="Servicio">Servicio</option>
                                    {% else %}
                                        {% if filtros[idFiltro].tipo == "Producto" %}
                                            <option value="0">Sin especificar</option>
                                            <option value="Producto" selected>Producto</option>
                                            <option value="Servicio">Servicio</option>
                                        {% else %}
                                            <option value="0">Sin especificar</option>
                                            <option value="Producto">Producto</option>
                                            <option value="Servicio" selected>Servicio</option>
                                        {% endif %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-12 col-lg-6 mb-3 text-center">
                                <label for="provincia">Escoge una provincia</label>
                                <select class="form-control" name="provincia" id="provincia">
                                    {% if idFiltro < 0 or filtros[idFiltro].provincia is null %}
                                        <option value="0" selected>Sin especificar</option>
                                        {% for provincia in provincias %}
                                            <option value="{{ provincia.id }}"> {{ provincia.provincia }} </option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">Sin especificar</option>
                                        {% for provincia in provincias %}
                                            {% if filtros[idFiltro].provincia.id == provincia.id %}
                                                <option value="{{ provincia.id }}" selected> {{ provincia.provincia }} </option>
                                            {% else %}
                                                <option value="{{ provincia.id }}"> {{ provincia.provincia }} </option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            {% if error %}
                                <div class="col-12">
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-12 mb-3 text-center">
                            <hr>
                                <label for="tipoFiltro">Acción</label>
                                <select class="form-control" name="accion" id="accion">
                                    <option value="0" selected>Eliminar</option>
                                    <option value="1">Guardar</option>
                                </select>
                            </div>
                            <div class="col-12 mx-auto">
                                <button class="btn btn-block mx-0" type="submit">Aceptar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset("js/formPerfil.js") }}" type="text/javascript"></script>
{% endblock %}
