{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/publicaciones.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/perfil.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-12 card-perfil py-2 px-0 my-4 text-white">
                <img src="{{ asset(usuario.imagenPerfil) }}" class="img-perfil rounded float-left px-3">
                <div class="row">
                    <div class="col p-0 mr-4">
                        <p class="text-perfil h3 text-center">
                            {{ usuario.nickName }}
                        </p>
                        <p class="text-perfil">
                            {{ usuario.email }}
                        </p>
                        <p class="text-perfil">
                            {% if usuario.provincia is null %}
                                Sin especificar
                            {% else %}
                                {{ usuario.provincia.provincia }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% if usuario.id == app.user.id %}
            <div class="col-lg-7 col-12 p-0">
                <a href="{{ path('ajustes')}}" class="btn btn-primary btn-ajustado">Modificar perfil</a>
                <a href="{{ path('formPublicacion')}}" class="btn btn-primary btn-ajustado">Crear publicacion</a>
            </div>
            {% endif %}
        </div>
        <div class="row d-flex">
            {% if publicaciones is defined %}
                {% for publicacion in publicaciones %}
                    <div class="col-lg-4 col-6 mt-5">
                        <div class="card mb-3">
                            <img class="card-img-top principal" src="{{ asset(publicacion.imagenes[0]) }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ publicacion.titulo }}</h5>
                                <p class="card-text">
                                    {{ publicacion.tipo }}
                                    {% if publicacion.etiqueta is not null %}
                                        {{ "  /  " }}
                                    {% endif %}
                                    <span class="etiqueta">{{ publicacion.etiqueta[0].etiqueta }}</span>
                                </p>
                                <a href="{{ path('publicacion' , {id:publicacion.id})}}" class="btn btn-primary btn-block">Ver publicación</a>
                            </div>
                            <div class="card-footer text-muted">
                                <small>{{publicacion.fechaPublicacion | date ('d-m-y  H:i') }}
                                </small>
                                <img class="imgSmall img-circle" src="{{ asset(publicacion.usuario.imagenPerfil) }}">
                                <a class="correo" href="{{ path('perfil' , {id:publicacion.usuario.id})}}" class="card-link">{{ publicacion.usuario.email }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    {% if app.user %}
        <script src="{{ asset("js/comun.js") }}" type="text/javascript">
        </script>
    {% endif %}
{% endblock %}
