{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/publicaciones.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/perfil.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col card-perfil py-2 my-4 text-white">
                <img src="{{ asset(usuario.imagenPerfil) }}" class="img-perfil rounded float-left">
                <p>
                    {{ usuario.nickName }} {{ usuario.email }}
                </p>
                <p>
                    Provincia: {{ usuario.provincia }}
                </p>
                <p>
                    Ultimo inicio de sesión: {{ usuario.lastLogin | date ('d-m-y  H:i') }}
                </p>
                <p>
                    Reputación: {{ usuario.reputacion }}
                </p>
            </div>
        </div>
        <div class="row d-flex">
            {% if publicaciones is defined %}
                {% for publicacion in publicaciones %}
                    {% if publicacion.usuario.id == usuario.id %}
                        <div class="col-lg-4 col-6 mt-5">
                            <div class="card mb-3">
                                <img class="card-img-top principal" src="{{ asset(publicacion.imagenes['imagen1']) }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ publicacion.titulo }}</h5>
                                    <p class="card-text">{{ publicacion.tipo }}</p>
                                    <a href="{{ path('publicacion' , {id:publicacion.id})}}" class="btn btn-primary btn-ajustado">Ver publicación</a>
                                </div>
                                <div class="card-footer text-muted">
                                    <small>{{publicacion.fechaPublicacion | date ('d-m-y  H:i') }}
                                    </small>
                                    <img class="imgSmall" src="{{ asset(publicacion.usuario.imagenPerfil) }}" alt="Card image cap">
                                    <a class="correo" href="{{ path('perfil' , {id:publicacion.usuario.id})}}" class="card-link">{{ publicacion.usuario.email }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

